*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  word-break: keep-all;
}
.en{
  display: hidden;
}

/* --------top-------- */

.background{
  height: 100vh;
  background-image: url('../../images/background.jpg');
  background-repeat : no-repeat;
  background-size : cover;
}

.background::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: radial-gradient(rgba(0, 0, 0, 0.4), black);
}

.top{
  height: 10%;
  display: flex;
  justify-content: space-between;
}
.logo{
  display: table;
  margin-left: 6%;
  margin-top: 1%;
}
.KF{
  display: table-cell;
  vertical-align: middle;
}
.boxes{
  display: table;
  margin-right: 8%;
  margin-top: 0.5%;
}
.lang, .btn{
  display: table-cell;
  vertical-align: middle;
}

img{
  position: relative;
  z-index: 2;
  height: 50px;
  width: auto;
  margin-left: 35px;
}

select{
  width: 95%;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  padding: 8px 20px;
  border: 1px solid #aaa;
  border-radius: 2px;
  background: #00000066;
  cursor: pointer;
}

button{
  width: 82px;
  height: 35px;
  font-size: 16px;
  border: none;
  background: #E50914;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5%;
}
button:hover{
  background-color: #bd0a13;
}

span{
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  border-radius: 3px;
}


/* --------main-------- */


.main{
  padding: 6.5% 0;
}

h1{
  position: relative;
  z-index: 2;
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin: 0 0.75em;
}

h2{
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin: 15px 0px 10px;
}

h3{
  position: relative;
  z-index: 2;
  font-size: 1.05rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin: 28px 0px 15px 0px;
}

.box{
  width: 650px;
  margin:0 auto;
}

input{
  padding-left: 10px;
  border: solid 1px #8c8c8c;
  border-radius: 2px;
  position: relative;
  z-index: 2;
  background: #FFFFFF;
  width: 450px;
  height: 60px;
  font-size: 16px;
}

#start{
  border:none;
  border-radius: 2px;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  background: #E50914;
  padding: 0px 26px;
  width: 200px;
  height: 60px;
  font-size: 26px;
  cursor: pointer;
}
#start:hover{
  background: #f40612;
}