*{
    margin: 0;
    padding: 0;
}

.background{
    height: 100vh;
    background: url("../../images/background.jpg");
    background-repeat : no-repeat;
    background-size : cover;
}
.background::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5)
}
.top{
    position: relative;
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 10%,rgba(0,0,0,0));
}

.KHUFLIX{
    position: relative;
    z-index: 3;
    margin-left: 3%;
}
.logo{
    width: 167px;
    margin-top: 1.3%;
}


/* --------login_part-------- */

.login-part{
    position: relative;
    z-index: 2;
    width: 314px;
    background: #000000BF;
    padding: 60px 68px 40px;
    margin:0 auto;
    margin-bottom: 90px;
}

h1{
    text-align: left;
    color: #FFF;
    margin: 0px 0px 28px;
}

.idbox{
    padding: 0px 0px 16px;
}
input{
    padding-left: 10px;
    padding-right: 10px;
}
input::placeholder{
    color: #8c8c8c;;
}
#id{
    border:none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFF;
    background: #333333;
    width: 294px;
    height: 50px;
}

.pwbox{
    padding: 0px 0px 16px;
}

#pw{
    border:none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFF;
    background: #333333;
    width: 294px;
    height: 50px;
}

.login{
    font-size: 16px;
    background: #e50914;
    border:none;
    border-radius: 4px;
    margin: 24px 0px 12px;
    padding: 16px;
    width: 314px;
    height: 48px;
    color: white;
    cursor: pointer;
}
.login:hover{
    background-color: #bd0a13;
}

.save{
    font-size: 13px;
    color: #b3b3b3;
    width: 314px;
    height: 24.6px;
    padding: 0px 0px 6px 0px;
    display: flex;
    justify-content: space-between;
}

#to_netflix{
    font-size: 13px;
    color: #b3b3b3;
    font:bold;
    /* width: 403.53px; */
    /* height: 24.6px; */
    padding: 0px 0px 6px 0px;
    cursor: pointer;
    text-decoration: none;
}
#to_netflix:hover{
    text-decoration: underline;
}


label{
    width: 383.53px;
    height: 19.2px;
}

a{
    color: #b3b3b3;
    width: 127.85px;
    height: 19.6px;
}

.icon{
    text-decoration-line : none;
}

.face{
    height: 20px;
    width: auto; 
    font-size: 13px;
    color: #737373;
}

.social{
    height: 25px;
    width: auto;
    padding: 5px;
}

.signup{
    font-size: 16px;
    color: #737373;
}

#b1{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration-line : none;
}
#b1:hover{
    text-decoration: underline;
}

#b2{
    font-size: 13px;
    color: #0071EB;
    text-decoration: none;
}
#b2:hover{
    text-decoration: underline;
}

.robot{
    margin: 13px 0px;
    font-size: 13px;
    height: 135px;
    color: #8c8c8c;
}

/* --------info_part-------- */

.info-part{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:10.5%;
    z-index: 2;
    color: #757575;
    background: #000000BF;
    padding: 25px;
    padding-left: 40px;
}
.info-position{
    width: 50%;
    margin: 0 auto;
}

.info{
    font-size: 12px;
    color: #808080;
    padding-top: 10px;
}
