*{
  margin : 0;
  padding :0;
}

/* .stop-scroll{ 
  height: 100%; 
  overflow: hidden; 
}  */

body{
  background-color: black;
}
header{
  position: relative;
  z-index: 100;
}
.navBar{
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  background: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

/* ----------- */
.nav_left{
  display: flex;
  width: 50%;
  padding-left: 3.3%;
}

.KHUFLIX{
  float: left;
  width: 15%;
  display: table;
}
.in_logo{
  padding-top: 3px;
  display: table-cell;
  vertical-align: middle;
}
.nav_menu{
  float: right;
  width: 80;
}
.title{
  width: 75%;
  min-width: 60px;
  height: auto;
  margin-left: 5%;
}

.In_navbar{
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 5px;
}
.menu{
  font-size: 15px;
  color: #E5E5E5;
  word-spacing: -2px;
  text-decoration: none;
  padding: 0px 10px 0px 0px
}
.page{
  color: #FFFFFF;
}

/* ----------- */
.nav_right{
  padding-right: 3.3%;
}
.navBar .top_right > li{
  list-style-type: none; 
  float: left;
}

.fa-search{
  font-size: 18px;
  margin-top: 11px;
  margin-right: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.fa-bell{
  font-size: 18px;
  margin-top: 11px;
  margin-right: 18px;
  color: #FFFFFF;
}

/* ------account------ */

.acc{
  width: 33px;
  border-radius: 4px;
  margin-top: 3px;
  cursor: pointer;
}
.account > ul {
list-style: none;
display:block;
width:150px; 
padding:10px 10px 10px 10px;
background-color: rgba(0, 0, 0, 0.5);
text-align:center; 
position:absolute;
color: white;
}

.account > ul.sub{
display: none;
position: fixed;
color: white;
right: 35px;
border-radius: 5px;
}

.account > ul.sub > li.s_li, li.acc_li {
font-size: 15px;
padding:10px 10px 10px 10px;
border-bottom: rgba(255, 255, 255, 0.1) 1px solid ;
color: white;
display: block;
cursor: pointer;
}

.account>ul.sub > li.s_li:hover{
/* font-style: italic; */
transition: ease 3s;
color: white;
}

.account:hover ul.sub {
display: block;
transition: ease 3s;
color: white;
}

.account > ul.sub > li.s_li > p:hover{
transform: scale(1.05);
transition: ease 0.1s;
text-shadow: 0px 0px 1px #FFF;
}

/* ----------- */

.mainpart{
  display: block;
  background : linear-gradient(to top, #000000, transparent 80%), url('imgs/main.jpg');
  background-size: cover;
}
.title_logo{
  width: 30%;
  margin-top: 18%;
  margin-left: 7%;
  margin-bottom: 2%;
  margin-bottom: 22%;
  cursor: pointer;
}

/* ----------- */

.contents_display{
  position: relative;
  top: -200px;
}

.contents{
  margin: 0 auto;
  color: #E5E5E5;
  position: relative;
  font-size: 1.4vw;
  font-weight: 600;
  padding-left: 2.6%;
}
.c1{
  top: -245px;
}
.c2{
  position: absolute;
  top: 65%;
}

.no_history{
  position: relative;
  margin-left: 40%;
  margin-right:20%;
  margin-top: 5%;
}

/* ------slide------ */

.section{
  width: 100%;
  z-index: 90;
}
.section input[id*="slide"] {
  display: none;
}
.slidewrap{
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  margin: 2% 2.4% 0%;
  /* margin: 0px 20px; */
  /* padding: 0% 2%; */
  /* margin-top: 100px; */
  overflow: hidden;
}
.s1{
  top: -310px;
}
.s2{
  top: -330px;
}

.slidelist{
  white-space: nowrap;
  font-size: 0;
  margin: 42% 0% 10%; /* 20px 0px */
  text-align: center;
}
.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .7s;
}
/*
.section .slidelist > li > a {
  display: block;
  position: relative;
} */

.section .slidelist label {
  position: absolute;
  /* overflow: visible; */
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 5.5% 1.4%;
  cursor: pointer;
}
.section .slidelist .left{
  position: fixed;
  left: 0px;
  background: url("../../images/left.png") center center / 30% no-repeat;
}
.section .slidelist .right{
  position: fixed;
  right: 0.6%;
  background: url("../../images/right.png") center center / 30% no-repeat;
}
.section .slidelist .left:hover{
  /* box-shadow: 0px 0px 5px #999; */
  background-color: rgba(0, 0, 0, 0.5);
}
.section .slidelist .right:hover{
  /* box-shadow: 0px 0px 5px #999; */
  background-color: rgba(0, 0, 0, 0.5);
}
.image{
  display: inline;
  position: relative;
}
.i{
  /* width: 19.39%; */
  width: 19.3%;
  border-radius: 7px;
  padding: 0 0.3vw;
  cursor: pointer;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}


/* -----modal design----- */

.modal{
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -76%);
  max-width: 350px;
  z-index: 10;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  font-size: 0;
}

.item{
  vertical-align: top;
}
.item-a{
  margin: 0 auto;
  width: 110%; /*25+5*2=35%*/
}
.item-b{
  font-size: 1rem; /*root em: 16px*/
  margin: 0 auto;
  width: 110%;
}

.pre{
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  cursor: pointer;
}
.container2{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #181818;
  color: #FFFFFF;
  padding: 16px;
  height: 145px;
  text-align: left;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.buttons{
  display: flex;
  /* display: inline-block; */
  box-sizing: border-box;
  margin: 0px 0px 5px;
}
.circle{
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #FFFFFF;
  border-color: rgba(255,255,255,0.5);
  background-color: #2A2A2A99;
  margin: 4px;
}
.play{
  float: left;
  border: none;
  color: #181818;
  background-color: #FFFFFF;
  margin: 4px 4px 4px 0px;
}
.down{
  margin: 4px 8px 4px 4px;
}
.etc{
  margin: 4px 4px 4px 0px;
  margin-left: auto;
}
.data{
  margin: 1.6% 0%;
}
.genre{
  margin: 1.5% 0%;
}
.fa-circle{
  vertical-align: middle;
  color: #646464;
  font-size: 0.1em;
}


/* -------------------------modal 2 (detail)---------------------- */

.hidden{
  display: none;
}

/* -------modal------- */

.modal2{
  position:absolute;
  box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
  z-index : 100;
  top:20px;
  left:calc(50% - 425px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* box-shadow:0px 6px 6px #33333333; */
  /* margin-bottom:100px; */
}

.playpart{
  display: block;
  margin:0px auto;
  /* margin-top: 10px; */
  width: 850px;
  height: 480px;
  /* object-fit: cover;
  object-position: top; */
  background : linear-gradient(to top, #181818, transparent 70%), url('../../images/video.jpg');
  background-size: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.v_logo{
  width: 340px;
  margin: 0px 0px 18px;
}

.v_buttons{
  margin: 0px 0px 16px;
}
.v_play{
  width: 106px;
  height: 38.5px;
  font-size: 15px;
  border-radius: 6px;
  margin-right: 3px;
  border: none;
  color: black;
  background-color: white; 
  cursor: pointer;
}

.v_circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 1px;
  border-color: rgba(255,255,255,0.5);
  background-color: #2A2A2A99;
  cursor: pointer;
}
.m2{
  font-size: 15px;
  color: rgba(255,255,255,0.5);
}
.close{
  border: 0;
  background-color: #222;
}
.close:hover{
  background-color: #777;
}
.playing{
  font-size: 15px;
  color: black;
}

/* this is infopart */

.infopart{
  width: 754px;
  height: 1500px;
  margin: 0px auto;
  padding: 0px 48px;
  background-color: #181818;
}
.section1{
  display: flex;
  padding-top: 5px;
}

.v_left{
  padding: 16px 5px 5px 0px;
  float: left;
  width:63%;
  box-sizing: border-box;
}
.v_right{
  padding: 16px 0px 20px 0px;
  width:32%;
  margin-left: auto;
  box-sizing: border-box;
}
.detail{
  display: block;
  margin: 18px 0px 9px;
  font-size: 18px;
}

.info{
  font-size: 14px;
  margin: 7px 7px 7px 0px;
}
.article{
  color: #777777;
}
.v_contents{
  color: #FFFFFF;
}
.h3{
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 24px;
}


/* TAB */

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  padding: 40px 20px 15px;
  color: #999;
  font-size: 20px;
  cursor: pointer;
}
input[type="radio"]:checked + label{
  color: #FFFFFF;
  border-bottom: 2px solid #999;
}
input[type="radio"] + label:hover{
  text-shadow: 0px 0px 2.5px #999;
}
input[type="radio"]:checked + label:hover{
  text-shadow: none;
}
.conbox{
  display: none;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}

input[id="tab01"]:checked ~ .con1 {display: block;}
input[id="tab02"]:checked ~ .con2 {display: block;}
input[id="tab03"]:checked ~ .con3 {display: block;}


/* episode */

#es{
  color: #FFFFFF;
  font-size: 24px;
  margin: 40px 0px 20px;
}
.epi{
  box-sizing: border-box;
  width: 100%;
  height: 154px;
  padding: 16px;
  color: #FFFFFF;
  border-radius: 0.25em;
  border-bottom: 1px solid #404040;
  margin: 0 auto;
  display: flex;
  cursor: pointer;
}
.first_e{
  background-color: #333333;
}
.out_box{
  display: table;
}
.in_box{
  display: table-cell;
  vertical-align: middle;
}
.e_number{
  text-align: center;
  float: left;
  width: 6.5%;
}
.e_num{
  font-size: 24px;
  color: #d2d2d2;
}
.thumbnail{
  float: left;
  width: 17.5%;
}
.thumb{
  width: 100%;
  height: auto;
  border-radius: 0.25em;
}

.text{
  float: left;
  width: 70%;
}
.e_title{
  display: flex;
  padding: 16px 16px 8px;
  justify-content: space-between;
}
.story{
  font-size: 16px;
  font-weight: bold;
}

.summary{
  font-size: 14px;
  color: #d2d2d2;
  padding: 0px 14px 14px;
}

.blank{
  float: right;
  width: 6%;
}


/* OST */

.center{
  width: 190px;
  margin: 20px auto 0;
  position: relative;
}
.vinyl{
  position: absolute;
  width: 200px;
  /* transform: translateX(40px); */
}
.cover{
  width: 200px;
  border-radius: 1px;
  /* transform: translateX(-40px); */
  border-radius: 0.5em;
  box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
}
.center:hover .vinyl{transform: translateX(40px);}
.center:hover .cover{transform: translateX(-40px);}

.vinyl{transform: translateX(0px); transition: all 0.8s ease;}
.cover{transform: translateX(0px); transition: all 0.8s ease;}

.track{
  width: 714px;
  height: 20px;
  padding: 20px;
  color: #FFFFFF;
  border-bottom: 1px solid #333333;
  background: none;
}
.first_t{
  color: #FFFFFF;
  border-radius: 0.25em;
  background-color: #333333;
  margin: 20px auto 0;
}

.number{
  float: left;
  width: 10%;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}
.o_title{
  float: left;
  width: 40%;
  box-sizing: border-box;
}
.singer{
  float: left;
  width: 30%;
  color: rgba(255,255,255,0.5);
  padding-left: 60px;
  box-sizing: border-box;
}
.option{
  float: right;
  width: 20%;
  padding-left: 45px;
  box-sizing: border-box;
}
.music{
  margin: 0px 10px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
}
.v_i{
  font-size: 15px;
  color: rgba(255,255,255,0.5);
}


.logout_modal,.exit_modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.logout_modal.show, .exit_modal.show {
  display: block;
}

.logout_body,.exit_body  {
  position:relative;
  top: 50%;
  left: 50%;
  z-index: 120;
  width: 450px;
  height: 200px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}

.logout_content{
    margin-top: 55px;

}
.exit_content{
    margin-top: 50px;
}
.exit_content > h2{
  font-size: 20px;
}

.yes_btn_exit,.no_btn_exit,.yes_btn,.no_btn{
    width: 100px;
    height: 30px;
    background-color: #a31616;
    border: transparent;
    color: rgb(236, 232, 232);
    font-weight: bold;
    border-radius: 15px;
    margin: 20px 10px 0px;
    cursor: pointer;
}

.yes_btn_exit:hover,.no_btn_exit:hover,.yes_btn:hover,.no_btn:hover{
  width: 100px;
  height: 30px;
  background-color: #a31616;
  border: transparent;
  color: rgb(236, 232, 232);
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px gray;
}


/* ------------시청기록(1안)------------ */

.content{
  width: 100%;
  position: relative;
  margin-top: -350px;
  margin-bottom: 100px;
  /* padding: 0px 20px; */
  /* margin: 0 auto;
  margin-top: -330px;
  margin-bottom: 100px;
  padding: 0px 15px; */
  list-style: none;
  display: flex;
  /* text-align: center; */
}

.content > ul {
  width: 100%;
  /* background-color: pink; */
}
.content > ul > li{
  padding-left: 2.4%;
  padding-right: 1.2%;
}
.content > ul > li > a{
  width: 100%;
}
.content > li > a > img{
  float: left;
}
.watched{
  width: 19.21%;
  border-radius: 4px;
  padding: 0 0.1vw;
  cursor: pointer;
}


/* ------------시청기록(2안)------------ */

.watchedlist{
  width: 100%;
  margin: 0 auto;
  margin-top: -350px;
  margin-bottom: 80px;
  /* background-color: lightpink; */
}
.watchedlist > ul{
  font-size: 0;
  margin: 0% 2.4%;
}
.watchedlist > ul > li{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.watchedlist > ul > li > a{
  display: block;
  width: auto;
  text-decoration: none;
  padding: 0 0.3vw;
}
.watchedlist > ul > li > a .screen{
  position: relative;
  overflow: hidden;
}
.watchedlist > ul > li > a .screen::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 1;
  opacity: 0;
  transition: all .5s;
}
.watchedlist > ul > li > a:hover .screen::after{
  opacity: 1;
}
.watchedlist > ul > li > a .screen .top{
  position: absolute;
  bottom: 150%;
  left: 30px;
  z-index: 2;
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  transition: all .5s;
}
.watchedlist > ul > li > a .screen img{
  width: 100%;
  border-radius: 4px;
}
.watchedlist > ul > li > a h3{
  font-size: 14px;
  padding-top: 8px;
  text-align: center;
  color: #d2d2d2;
}
.watchedlist > ul > li > a:hover .top{
  bottom: 52%;
}
.watchedlist > ul > li > a:hover {
  top: 52%;
}