*{
    margin : 0;
    padding :0;
    box-sizing: border-box;
}
body{
    width: 100%;
    position: relative;
    background:black;
    font-family: 'roboto',sans-serif;
}
.navBar{
    position: fixed;
    top: 0;
    z-index: 10;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
  }
  
  /* ----------- */
  .nav_left{
    display: flex;
    width: 50%;
    padding-left: 3.3%;
  }
  
  .KHUFLIX{
    float: left;
    width: 15%;
    display: table;
  }
  .in_logo{
    padding-top: 3px;
    display: table-cell;
    vertical-align: middle;
  }
  .nav_menu{
    float: right;
    width: 80;
  }
  .title{
    width: 75%;
    min-width: 60px;
    height: auto;
    margin-left: 5%;
  }
  
  .In_navbar{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
  }
  .menu{
    font-size: 15px;
    color: #E5E5E5;
    word-spacing: -2px;
    text-decoration: none;
    padding: 0px 10px 0px 0px
  }
  .page{
    color: #FFFFFF;
  }
  
.btn_right{
    /* background-color: black; */
    color:whitesmoke;
    border: 0cm;
    float: right;
    margin-left:7px;
    size: 14px;
}

#search{
    width: 150px;
    border:transparent;
    background-color: rgba(0,0,0,.1);
    color:whitesmoke;
   
}

#search:focus{
    width: 150px;
    border:transparent;
    background-color: rgba(0,0,0,.1);
    color:whitesmoke;
    outline:none;
}

.noReturn{
    width:500x;
    height:420px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    margin-top: 230px;
    color:whitesmoke;
}

.results_display{
    width:500x;
    height:420px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    margin-top: 230px;
    color:whitesmoke;
}

.results{
    width: 300px;
    height: 150px;
    cursor: pointer;
}

p{
    color:white
}



/* ----------검색결과(list ver.)---------- */

*{
  margin: 0;
  padding: 0;
}

.wrap{
  display: block; 
  margin-top: 10%; 
  /* position: fixed;  */
  width: 100%;
  overflow: visible;
}

.watchedlist{
  width: 100%;
  margin: 0 auto;
}
.watchedlist > ul{
  font-size: 0;
  margin: 0% 3%;
}
.watchedlist > ul > li{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.watchedlist > ul > li > a{
  display: block;
  width: auto;
  text-decoration: none;
  margin: 5px;
}
.watchedlist > ul > li > a h3{
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 15px;
  text-align: center;
  color: #d2d2d2;
}
.watchedlist > ul > li > a .screen{
  position: relative;
  overflow: hidden;
}
.watchedlist > ul > li > a .screen img{
  width: 100%;
  border-radius: 4px;
}
.watchedlist > ul > li > a:hover .top{
  bottom: 52%;
}
.watchedlist > ul > li > a:hover {
  top: 52%;
}