<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khuflix</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/login/first_page_style.css">
</head>
<body class="background">
    <div class="top">
        <div class="logo">
            <div class="KF"><img src="/images/KHUFLIX.PNG" alt="Khuflix" onclick="location.href='/first'"></div>
        </div>
        <div class="boxes">
            <div class="lang">
                <select name="Language" id="">
                    <option value="/kr/">한국어</option>
                    <option value="/kr-en/">English</option>
                </select>
            </div>
            <div class="btn">
                <button onclick="location.href='/login'">로그인</button>
            </div>
        </div>
    </div>
    <div class="main">
        <h1 class="title">영화, TV 프로그램을 <br> 무제한으로.</h1>
        <h2 class="subtitle">다양한 디바이스에서 시청하세요. 언제든 해지하실 수 있습니다.</h2>
        <h3 class="minititle">시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요.</h3>
        <div class="box">
        <form action="/first" method="post">
            <input type="email" name="id" placeholder="이메일 주소" style="float: left;">
            <input id="start" type="submit" value="시작하기">
        </form>
        </div>
    </div>
</body>
</html>