<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khuflix</title>
    <link rel="stylesheet" href="../public/stylesheets/login/first_page_style.css">
</head>
<body>
    <header class="background">
        <div class="top">
            <img src="../../public/images/KHUFLIX.PNG" alt="Khuflix">
            <select name="Language" id="">
                <option value="/kr/">한국어</option>
                <option value="/kr-en/">English</option>
            </select>
            <span style="background: #E50914; padding: 7px 17px;">로그인</span>
        </div>
        <div class="main">
            <h1 class="title">영화, TV 프로그램을 무제한으로.</h1>
            <h2 class="subtitle">다양한 디바이스에서 시청하세요. 언제든 해지하실 수 있습니다.</h2>
            <h3 class="minititle">시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요.</h3>
            <div class="box">
            <form action="/first" method="post">
                <input type="text" name="inputId" placeholder="이메일 주소" style="float: left;">
                <input type="submit" id="submit_button" onclick="location.href='/login'" value="시작하기">
            </form>
            </div>
        </div>
        <!-- <div class="card1"></div>
        <div class="card2"></div>
        <div class="card3"></div>
        <div class="card4"></div>
        <div class="question_card"></div> -->
    </header> 
</body>
</html>