<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khuflix</title>
    <link rel="stylesheet" href="/stylesheets/login/login_page_style.css">
</head>
<body class="background">
    <div class="top">
        <div class="KHUFLIX">
            <div class="KH"><img class="logo" src="../../public/images/KHUFLIX.PNG" onclick="location.href='/first'"></div>
        </div>
    </div>
    
    <div class="login-part">
        <div class=login-space>
            <h1>로그인</h1>
            <div class=login-main>
                <form action="/login" method="post">
                <div class="idbox">
                    <%if(remember_Id){%>
                        <input id="id" name="id" type="email" placeholder=<%=remember_Id%>>
                    <%}else{%>
                        <input id="id" name="id" type="email" placeholder="이메일 주소">
                    <%}%> 
                </div>
                <div class="pwbox">
                    <input id="pw" name="pw" type="password" placeholder="비밀번호">
                </div>
                <input class="login" type="submit" value="로그인">
                </form>
                <div class="save">
                    <div class="save_l">
                        <input id="check" type="checkbox" name="save info" value="TRUE">
                        <label for="check">로그인 정보 저장</label>
                    </div>
                    <div class="save_r">
                        <a id="to_netflix" href="">도움이 필요하신가요?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-login">
            <a class="icon" href="/facebookLogin">
                <img class="social" src="../../public/images/facebook.png" alt="Facebook">
            </a>
            <a class="icon" href="/kakaoLogin">
                <img class="social" src="../../public/images/kakao-talk.png" alt="Kakao">
            </a>
            <a class="icon" href="/naverLogin">
                <img class = "social" src="../../public/images/naver.png" alt="Naver">
            </a>
        </div>
        <div class="signup">
            Khuflix 회원이 아닌가요?
            <a id="b1" href="/signup">지금 가입하세요</a>
        </div>
        <div class="robot">
            이 페이지는 Google reCAPTCHA의 보호를 받아 사용자가 로봇이 아님을 확인합니다.
            <a id="b2" href="">자세히 알아보기</a>
        </div>
    </div>
    <div class="info-part">
        <div class="info_position">
            <p id="info_q">질문이 있으신가요? 문의 전화: 080-123-4567</p>
            <div class="info">
                쿠플릭스서비시스코리아 <br>
                대표: 이아영, 임윤희, 박선하 <br>
                이메일 주소: khuflix@gmail.com <br>
                [CSE22300] 오픈소스SW개발
            </div>
        </div>
    </div>
    <script>
        //페이스북 로그인 시 url 끝에 생기는 '#_=_'를 제거
        if (window.location.hash && window.location.hash == '#_=_') { 
            history.pushState("", document.title, window.location.pathname + window.location.search);
        }
    </script>
</body>
</html>