<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khuflix</title>
    <link rel="stylesheet" href="/stylesheets/login/signup_page_style.css">
</head>
<body>
    <header>
        <nav class="navBar">
            <div class="logo">
                <img id="golo" src="../../public/images/KHUFLIX.PNG" alt="KHUFLIX" onclick="location.href='/first'">
            </div>
            <div class="login">
                <a id="inlog" href="/login">로그인</a>
            </div>
        </nav>
    </header>
    <div class="content_area">
        <div>
        <form action="/signup" method="post">
            <h1>회원님, 반갑습니다.<br>쿠플릭스 가입을 도와드릴게요!</h1>
            <h2> 비밀번호를 입력하면 회원가입이 완료됩니다!</h2>
            <%if(remember_Id){%>
                <h3> 이메일 주소<br> <input type="email" placeholder=<%=remember_Id%> name="id" id="email_place"/> </h3>
            <%}else{%>
                <h3> 이메일 주소<br> <input type="email" placeholder="이메일을 입력하세요" name="id" id="email_place"/> </h3>
            <%}%> 
            <h3> 비밀번호 <br> <input type="password" placeholder="비밀번호를 입력하세요" name="pw" id="pwd_place"/> </h3>
            <button type="submit" value="가입하기" id="submit_btn">가입하기</button>
        </form>
        </div>
    </div>
</body>
</html>