<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML Video Player</title>
  <link rel="stylesheet" href="../../public/stylesheets/video/video_player_style.css">
</head>
<body>
    
    <div class="player">
        <a href="/main"><img src="../../public/images/back.png" height="50px" width="50px" ></a>
    <iframe width="750px" height="500px" src=<%=epi_src%> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <script src="../../public/javascripts/video/videoJs.js"></script>
</body>
</html>